{
    "installed": {
      "client_id": "Your client id",
      "client_secret": "Your client secret",
      "redirect_uris": ["http://localhost:8080/oauth2callback"],
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://accounts.google.com/o/oauth2/token"
    }
}